---
---

<div
  class='bg-book-gray text-gray-50 py-12 flex flex-col justify-center items-center leading-4'
>
  <p class='text-xl text-center mb-4'>
    Join our Math<!-- -->
    <span class='text-3xl text-pink-400 love'>∑</span>
    <!-- -->Book Community
  </p>
</div>
